body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active-scroll-spy {
  background-color: yellowgreen;
  border-radius: 15px;
}
.ss-item {
  padding: 30px;
  margin: 10px;
}
a {
  color: black;
  text-decoration: none;
}
/* media query for screens less than 500px */
@media screen and (max-width: 500px) {
  .ss-item {
    padding: 17px;
  }
}
